*{
  padding: 0;
  margin: 0;
}

header {
  height: 10px;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
}

header img {
  background-color: black;
  color: white;
  float: left;
  font-size: 30px;
  width: 150px;
  font-style: normal;
  margin-bottom: 10px;
}

nav {
 float: right;
}

ul {
  list-style: none;
}

nav li {
  float: left;
  padding-right: 20px;
  padding-top: 15px;
}

li a {
  color: black;
  text-decoration: none;
}


.mainvisual {
  width: 100%;
}

.mainvisual img {
  width: 100%;
  height: 600px;
  text-align: center;
  object-fit: cover;
}

.title-about  {
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
  width: fit-content;
}

.about {
  font-size: 38px;
  border-bottom: 1px solid black;
}

.profile {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.profile-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-bun h3 {
  padding-bottom: 10px;
}

.Bycycle ul {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.Bycycle img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.bike-text {
  text-align: center;
}

.text {
  font-weight: bold;
  padding-bottom: 10px;
}

.footer-contents {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  width: fit-content;
}

.footer-contents p {
  font-size: 8px;
  font-weight: normal;
}
